body { 
  font-family: Arial; 
  background:#f3f3f3; 
}
.app { 
  background:white; 
  width:300px; 
  margin:80px auto; 
  padding:20px; 
  border-radius:10px; 
}
li { 
  display:flex; 
  justify-content:space-between; 
  margin:6px 0; 
}
